<div class="p-4">
  @if (profileService.selectedCharacter(); as selectedCharacter) {

  <p-dataView
    [value]="profileService.pastCampaigns()"
    [rows]="4"
    [paginator]="true"
    [paginatorPosition]="'top'"
  >
    <ng-template #header>
      <h2 class="text-xl font-semibold">
        Past Campaigns for <span class="text-blue-800">{{ selectedCharacter.name }}</span>
      </h2>
    </ng-template>

    <ng-template let-campaigns #list>
      @for(campaign of campaigns; track campaign.campaignId) {
      <div class="col-12 md:col-6 p-2">
        <p-card [header]="campaign.campaignName">
          <p class="text-gray-600 m-0">{{ campaign.campaignDescription }}</p>

          <p-button label="View Details"></p-button>
        </p-card>
      </div>
      }
    </ng-template>

    <ng-template #emptymessage>
      <div class="text-center text-gray-500 p-4">
        <p>{{ selectedCharacter.name }} has no past campaigns.</p>
      </div>
    </ng-template>
  </p-dataView>

  } @else {
  <div class="p-card">
    <div class="p-card-body">
      <h2 class="p-card-title text-xl font-semibold mb-4">Past Campaigns</h2>
      <p class="p-card-subtitle text-gray-500">Select a character to see their campaign history.</p>
    </div>
  </div>
  }
</div>
